<header>
  <div class="mx-auto flex items-center justify-between px-20">
    <a routerLink="/">
      <img
        src="/assets/images/logo-nutriserve.png"
        alt="NutriServe logo"
        width="100"
        height="100"
      />
    </a>
    <nav>
      <ul
        class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-10"
      >
        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/about"
          >
            About Us
          </a>
        </li>

        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/meals"
          >
            Meal Plans
          </a>
        </li>
        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/blog"
          >
            Blog
          </a>
        </li>
        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/contact"
          >
            Contact Us
          </a>
        </li>
        <li>
          <a
            className="mx-auto cursor-pointer text-center font-bold border m-auto py-2 px-4 text-md text-custom-green border-custom-green rounded-sm mb-4 hover:bg-custom-green hover:text-white"
            routerLink="/login"
            >Login</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
