<section class="relative h-full">
  <div class="absolute top-0 left-0 w-full h-full">
    <img
      src="/assets/images/heroSection.jpg"
      alt="Healthy Food"
      class="w-full h-full object-cover"
    />
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-60"></div>
  </div>

  <div class="mx-auto px-6 pt-32 pb-56 text-white z-20 relative">
    <div class="w-full md:w-1/2 mx-auto">
      <h2 class="text-6xl font-light tracking-wide">
        Healthy Meals Delivered to Your Door
      </h2>
      <p class="text-2xl mt-4 text-white font-light tracking-wide">
        Discover your perfect meal plan. Tailored to your personal tastes and
        nutritional needs.
      </p>

      <a
        class="mt-4 bg-orange text-base text-white px-4 py-2 inline-block rounded hover:bg-[#d19844] transition duration-200"
        href="/plans"
      >
        Get Started
      </a>
      <a
        class="mt-4 ml-6 bg-green-500 text-base text-white px-4 py-2 inline-block rounded hover:bg-[#2f8f32] transition duration-200"
        href="/login"
      >
        Know more
      </a>
    </div>
  </div>
</section>
